@font-face {
    font-family: 'InfinitySansR-Regular';
    src: url('/fonts/InfinitySansR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'InfinitySansR-Bold';
    src: url('/fonts/InfinitySans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'InfinitySansR-CondBold';
    src: url('/fonts/InfinitySans-CondBold.otf') format('opentype');
} 
